@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #f0f0f0;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_container {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  position: relative;
  background-color: rgb(176, 160, 192);
  width: 100%;
  max-width: 900px;
  margin: 0.7rem;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}

.icon_container {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(88, 86, 86);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.icon_container:active {
  transform: scale(0.94);
}
.icon_container i {
  position: absolute;
  color: white;
}
.question {
  font-size: 22px;
  color: rgb(46, 45, 45);
  font-weight: bold;
}
.answer {
  color: rgb(25, 94, 25);
  font-weight: 600;
  display: none;
}
.answer,
.question {
  margin: 1.2rem;
}
.box.active .answer {
  display: block;
  display: initial;
}
.fa-times {
  display: none;
}
.box.active .fa-chevron-down {
  display: none;
}
.box.active .fa-times {
  display: inline;
}
